<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body style="background-color:<%= locals.bgColor ? bgColor : null%>">

    <h1><%= locals.userName ? userName : null %>, gracias por visitarnos.</h1>

    <a href="/">Ir al home</a>
</body>

</html>